/* Additional styles for responsiveness and other specific styles go here */
/* You can customize and add more styles based on your design */
@media screen and (max-width: 768px) {
    /* Responsive styles go here */
    header {
        flex-direction: column;
        align-items: flex-start;
        
    }

    .menu {
        display: none;
        width: 100%;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    }

    .menu.show {
        display: flex;
    }

    .menu li {
        margin-bottom: 10px;
    }

 

    .hamburger {
        display: block;
    }

    main {
        flex-direction: column;
    }

    .hero, .cta, .events, .weather, .spotlights {
        width: 100%;
    }

    

    /* Add more responsive styles as needed */
}