
/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

h1 {
    color: #f0f0f0;
}

header {
    text-align: center;
    padding: 200px;
}


nav ul {
    list-style: none;
}

nav li {
    margin-bottom: 10px;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 0px;
    background-color: #eee;
	color: #000;
}

  #pageCounter {
    /* Your styles for the page visit counter */
    font-size: 18px;
    margin-top: 10px;
  }
.card {
   
    padding: 2px;
    margin-bottom: 30px;
    padding: 1rem;
    
}

iframe {
    width: 63%;
    height: 300px; /* Adjust the height according to your preference */
    display: block;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px; /* Adjust the margin as needed */
    width: 100%;
    
    object-fit: cover;
  }
footer {
    background-color: #285580;
    color: #fff;
    text-align: center;
    padding: 10px;
}