
    body {
        font-family: "Sansita", sans-serif;
    
    }
    
    /* mobile **************************/
    header {
        background-color: #285580;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
      
    }

    img{
        width: 100px;
        
        
    }
    
    .hero img {
        width: 100%;
        height: 100%;
        padding-top: 10px;
        padding-left: 50px;
        padding-right: 50px;
        object-fit: cover;
       
    }
      .overlay {
        position: absolute;
        top: 60%;
        left: 30%;
        right: 35%;
       
        margin: 0 auto;
        transform: translate(-50%, -50%);
        color: #e8e8f1;
        text-align: center;
        font-size: 3rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        background-color: #285580;
        padding: 20px;
        border: 1px solid #181616;
        border-radius: 5px;
        box-shadow: 0 5px 100px rgba(241, 239, 239, 0.1);
       
        
      }
      
       main {
        max-width: 1490px;
        margin: 0 auto;
        display: grid;
	    grid-template-columns: 1fr 400px;
	    grid-gap: 1.5rem;
        background-color: #eee;
        color: #000;
        
    }
    #mode {
        position: absolute;
        right: 3rem;
        bottom: -20rem;
        font-size: 3rem;
        cursor: pointer;
        font-size: 2rem;
    }
    
    h2 {
        color: navy;
        grid-column: 1/3;
      }
    
    nav {
        background-color: #12171a;
        margin: 0 auto;
        
    }
  
    nav a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
    }
    
    nav a:hover {
        border: 1px solid #fff;
    }
    
    .hamburger {
        display: none;
        background: none;
        border: 10px;
        cursor: pointer;
        color: #fff;
        
    }
    
    /* Larger Views ******************************/
    @media (min-width: 640px) {
        .menu {
            display: flex;
            top: 60px;
            left: 0;
            width: 100%;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
        }
        nav ul li {
            flex: 1 1 100%;
        }
    }
    
    
    .menu.show {
        display: block;
    }

    .menu li {
        margin-bottom: 10px;
    }

    .hamburger {
        display: block;
    }

    
    /* Style the card sections */
    .card {
       
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
        
        
    
   
    }
    h3 {
        background-color: #285580;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 1px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        color: #ffffff;
    }
    h2 {
       text-align: center;
       color: #285580;
    }
 
  
    /* Additional larger view styles */
